     h1{
            color :rgb(226, 141, 43)                                                                                    
        }
        *{
            border : solid
        }
        .header{
            background-color:rgb(245, 189, 6)
        }